<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>challengeFooter</title>
</head>
<body>
<div th:fragment="footerFragment">
<footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img/로고.PNG" alt="" style="width: 200px; height: 100px;"></a>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">                
                    <div class="footer__widget">
                        <ul>
                            <li style="font-size: 16px">Address: 대구광역시 중구 남일동 중앙대로 403 </li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello@colorlib.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <ul>
                            <li><a href="#" style="font-weight: 650;">Link</a></li>
                            <li><a href="#">식단일지</a></li>
                            <li><a href="#">음식검색</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">챌린지</a></li>
                            <li><a href="#">게시판</a></li>
                            <li><a href="#">고객센터</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p style="margin-left:440px"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>