<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 공통으로 쓰이는 script 파일을넣는다.-->
<th:block th:fragment="scriptFragment">
	<script th:src="@{/bootstrap/js/jquery-3.3.1.min.js}"></script>
	<script src="/@{bootstrap/js/bootstrap.min.js}"></script>
	<script src="/@{bootstrap/js/jquery.nice-select.min.js}"></script>
	<script src="/@{bootstrap/js/jquery-ui.min.js}"></script>
	<script src="/@{bootstrap/js/jquery.slicknav.js}"></script>
	<script src="/@{bootstrap/js/mixitup.min.js}"></script>
	<script src="/@{bootstrap/js/owl.carousel.min.js}"></script>
	<script src="/@{bootstrap/js/main.js}"></script>
</th:block>
</html>